/**
 * Cluster Handler middleware
 * 
 * This middleware checks for the X-Cluster-Name custom header and binds that to the request
 * object. This is used to determine which cluster to use for the request.
 */


import { logger } from '../logger';
import { Request, Response, NextFunction } from 'express';
import storage from '../storage';
import { initNamedCluster } from '../init-cluster';

declare module 'express-serve-static-core' {
  interface Request {
    clusterName?: string;
  }
}

export async function clusterHandler(req: Request, res: Response, next: NextFunction) {
  // Skip authentication and pass through all requests
  let clusterName = "default"
  logger.info(`Cluster request headers: ${JSON.stringify(req.headers)}`)
  if (req.headers['X-Cluster-Name']) {
    clusterName = req.headers['X-Cluster-Name'] as string

  }
  if (!await storage.hasCluster(clusterName)) {
    // reinitialize cluster if it does not exist
    await initNamedCluster(clusterName);
  }
  req.clusterName = clusterName
  next();
}
